{
  "printWidth": 200,
  "tabWidth": 2,
  "bracketSpacing": true,
  "singleQuote": false,
  "useTabs": false,
  "semi": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "proseWrap": "never"
}
